body{
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

/*
*common
*/
ul{
  padding: 0;
  list-style-type: none;
}

.project{
  display: flex;
  flex-wrap: wrap;
}

/*
*
*heading
*/
.header{
  font-family: 'Concert One', cursive, sans-serif,monospace,serif;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-bottom: 5px solid black;
  overflow: hidden;
}

.logo {
  width: 160px;
  height: 135px;
  margin-top: 20px;
}

.titles{
  float: right;
}

.head_title, .head_name{
  color: #00ff55;
}

.head_sub, .q{
  color: Black;
}

/*
*  projects
*
*/
.proj_imgs{
  width: 40%;
  margin-top: 50px;
}

.projects{
  margin: 50px 0px 20px 0px;
  display: block;
  float: left;
}

.project_tab{
  margin-bottom: 20px;
  text-align: center;
}

.project_img{
  width: 350px;
  height: 225px;
}

.project_title{
  font-size: 25px;
  margin: 0;
  font-family: 'Poor Story', cursive, sans-serif, serif, monospace;
}
.proj_info{
  font-family: 'Righteous', cursive, sans-serif, serif, monospace;
  width: 60%;
  margin-top: 50px;
  font-size: 20px;
}
.info_title{
  line-height: 0;
  font-size: 35px;
  font-weight: bold;
  color: #00ff55;
}

/*
* footer
*/
.footer{
  border: 1px solid #544e4d;
  background-color: #544e4d;
  text-align: center;
  font-size: 20px;
  width: 100%;
}

.foot{
  color: white;
  font-family: 'Concert One', cursive, serif, sans-serif;
  line-height: 0px;
}

@media screen and (max-width: 520px){
  .logo {
    width: 100px;
    height: 85px;
    margin-top: 60px;
  }
}

@media screen and (max-width: 1120px){
  .project{
    display: block;
    flex-wrap: nowrap;
  }
  .proj_imgs{
    width: 100%;
    text-align: center;
  }
  .proj_info{
    width: 100%;
    text-align: center;
  }
  .footer{
    width: 100%;
  }
}
